.cell {
    display:flex;
    background-color: aqua;
    height: 28px;
    width: 28px;
    border: 1px dotted darkblue;
    align-items: center;
    justify-content: center;
}
.ship-display{
    display:flex;
    flex-direction: column;
    flex:auto;
    height: 300px;
    width: 300px;
    margin:0;
    background-color: aqua;
}
span{
    font-style: italic;
}
body {
    background-color: navy;
    color:beige;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#game-display{
    height:0;
}
.draggable-ship{
    border: 2px solid black;
    margin:auto auto;
    height: fit-content;
    width: fit-content;
    display:flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    cursor:move;
}
h1{
    font-size: 72px;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
.marker {
    height:10px;
    width: 10px;
    border-radius: 5px;
    border: 2px solid black;

}
.marker{
    background-color: aliceblue;
}
.miss>.marker {
    background-color: blue;
}
.hit>.marker {background-color: darkred;}
.hit {
    background-color: red;
}
.ship {
    background-color: darkgray;
}
.row   {
    display:flex;
    flex-direction: row;
}
.gameboard{
    display:flex;
    flex-direction: column;
}
.boardholder {
    border: 1rem solid black;
    height:300px;
    width:300px;
    background-color: darkgrey;
    
}
.top-display,.bottom-display{
    display:flex;
    flex-direction: row;
    flex:0 0 320px;
    height:320px;
    width:320px;
    transform:perspective(720px);
    transform-style:preserve-3d;
    position:relative;
    align-items: center;
}
.top-display-cube, .bottom-display-cube{
    width:100%;
    height:100%;
    position:relative;
    transform-style: preserve-3d;
    transition:transform 1s;
    transform:translateZ(-160px)
}
.cube-face{
    position:absolute;
    width:300px;
    height:300px;
}
.top-board, .bottom-board{
    transform:translateZ(160px)
}

.coms {
    overflow: auto;
    background-color: aliceblue;
    transform: rotateY(90deg) translateZ(160px);
}
.rotated{
   transform: translateZ(-160px) rotateY(-90deg);
}

.controls {
    overflow: auto;
    background-color: rgb(13, 73, 126);
    transform: rotateY(90deg) translateZ(160px);
}
#game-display{
    display:flex;
    flex-direction: column;
}

.bottom-display{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.controls{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fire-button {
    background-color:rgb(78, 17, 17);
    align-self: center;
    justify-self: center;
    border-radius: 30px;
    height:60px;
    width:60px;
   
}
.fire-button .armed {
    background-color:red;
}